.footer {
    background-color: #002060;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  
  .footer-links a {
    color: #fff;
    font-size: 0.8rem;
    margin: 5px 10px;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-disclaimer {
    font-size: 0.7rem;
    margin-top: 10px;
    color: #ccc;
  }
  